---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Astro description"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body>
    <div class="relative bg-gray-200">
      <div class="relative max-w-5xl mx-auto">
        <div
          class="flex flex-col min-h-screen lg:flex-row lg:items-center lg:p-8"
        >
          <div
            class="flex flex-col flex-grow bg-white lg:shadow-2xl lg:rounded-lg lg:overflow-hidden"
          >
            <slot />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
