node_modules
dist
public
build
logs
coverage
.next
.turbo
.astro
.github
.angular
.svelte-kit
.vscode
*.log*
*.log
*.lock
*.yaml
*.yml
*.sh
*.svg
*rc.*
*.htm
*.html
*.md
.*ignore
/packages/pocketbase/src/types.ts
