---
interface Props {
  title: string
  description: string
  href: string
}

const { title, description, href } = Astro.props
---

<div
  class="flex flex-col px-12 py-10 w-full sm:w-1/2 sm:border-r sm:border-b border-gray-200"
>
  <div class="flex flex-grow">
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="h-8 w-8 md:h-10 md:w-10 md:-my-1"
      >
        <g>
          <path
            class="fill-current text-gray-400"
            d="M12 21a2 2 0 0 1-1.41-.59l-.83-.82A2 2 0 0 0 8.34 19H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a5 5 0 0 1 4 2v16z"
          ></path>
          <path
            class="fill-current text-gray-700"
            d="M12 21V5a5 5 0 0 1 4-2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4.34a2 2 0 0 0-1.42.59l-.83.82A2 2 0 0 1 12 21z"
          ></path>
        </g>
      </svg>
    </div>
    <div class="leading-relaxed flex flex-col ml-4 md:ml-6">
      <h2 class="font-medium text-gray-800 text-lg">{title}</h2>
      <p class="text-gray-600 mt-1 text-sm md:text-base">
        {description}
      </p>
      <div class="pt-1 mt-auto">
        <a
          class="inline-flex items-center text-brand hover:text-brand-dark"
          target="_blank"
          href={href}
        >
          <span class="text-sm md:text-base font-semibold">
            Explore the docs
          </span>
          <svg
            class="fill-current w-4 h-4 ml-2"
            viewBox="0 0 18 12"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M14.5858 7H1C0.447715 7 0 6.55228 0 6C0 5.44772 0.447715 5 1 5H14.5858L11.2929 1.70711C10.9024 1.31658 10.9024 0.683418 11.2929 0.292893C11.6834 -0.0976311 12.3166 -0.0976311 12.7071 0.292893L17.7071 5.29289C18.0976 5.68342 18.0976 6.31658 17.7071 6.70711L12.7071 11.7071C12.3166 12.0976 11.6834 12.0976 11.2929 11.7071C10.9024 11.3166 10.9024 10.6834 11.2929 10.2929L14.5858 7Z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
